@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Texturina:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Links */
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #ed5565;
  border-radius: 4px;
}
::selection {
  color: #181818;
  background-color: #ed5565;
  padding: 2px;
}
body {
  background-color: #1d1d1d;
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: #fff;
  list-style: none;
  overflow-x: hidden;
}
/* Header Start */
.top_heading {
  font-family: "Lobster", cursive;
  font-size: 32px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  transition: 0.4s;
  margin-bottom: 2rem;
}

.top_heading:hover {
  color: #ed5565;
}
.main-menu__top {
  background: #000;
  width: 100%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 2rem 0;
}
.main-menu {
  width: 10rem;
  background-color: #181818;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  right: auto;
  bottom: 0;
  display: flex;
  z-index: 3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
/* Header End */
/* Menu Start */
.main-menu_nav {
  width: 100%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-top: 1px solid #282828;
  margin-bottom: 109px;
}
.main-menu_nav a {
  font-family: "Texturina", serif;
  text-align: center;
  width: 100%;
  display: block;
  font-size: 1.2rem;
  color: #909096;
  text-decoration: none;
  line-height: 4rem;
  border-bottom: 1px solid #282828;
  transition: color 0.3s, background-color 0.3s;
}
.main-menu_nav a:hover {
  color: #ed5565;
}
.main-menu_nav a:last-child {
  font-size: 1rem;
}
.email {
	margin-bottom: 10rem;
}
.welcome {
  font-size: 60px;
  position: absolute;
  top: 30%;
  left: 18%;
  color: #fff;
  z-index: 1000;
}
.welcome span:hover {
  color: #3ee798;
  cursor: pointer;
  transition: 0.5s;
}
.sakib {
  color: #ed5565;
}
.sakib:hover {
  color: #ed5565 !important;
}
#hero {
  height: 100vh;
}
/* Hero End */

/* Sakib Image Start */
.sakib_img {
  height: 420px;
  width: 350px;
  position: absolute;
  right: 8%;
  top: 20%;
}
/* Sakib Image End */
/* Toggler Button End*/

@media only screen and (max-width: 991.98px) {
  .main-menu {
    display: none;
  }
}
/* About Start */
#abt {
  height: 100vh;
  padding-top: 1rem;
	margin-top: 100vh;
}

#abt h1 {
  z-index: 0;
  opacity: 0.1;
  margin-bottom: 1rem;
  color: #707070;
  font-size: 8rem;
  font-weight: 700;
  text-align: right;
  /* margin-right: 6rem; */
  position: relative;
  right: 15%;
}

.about-me-info {
  max-width: 600px;
  background-color: #252627;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 25);
  padding: 50px;
  position: relative;
  top: -10%;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 1.3rem;
}
.about-me-info h2 {
  color: #ed5565;
  text-align: center;
}
/* About End */

/* Skills Start */
#skills {
	height: calc(100vh - 22rem);
}
.about-me-info {
  max-width: 600px;
  background-color: #252627;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 25);
  padding: 50px;
  position: relative;
  top: -10%;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 1.3rem;
}
#skills h1 {
  font-size: 10rem;
  z-index: 0;
  opacity: 0.1;
  margin-bottom: 2rem;
  color: #707070;
  font-size: 8rem;
  font-weight: 700;
  text-align: right;
  /* margin-right: 6rem; */
  position: relative;
  right: 15%;
}

/* Skills End */

/* Lets Start */
#lets {
  overflow-x: hidden;
  margin-bottom: 4rem;
}
.skill_bar {
  width: 500px;
  margin: 20px auto;
  color: white;
}
.skill_bar li {
  margin: 20px 0;
}
.bar {
  background: #353b48;
  display: block;
  height: 2px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  /* overflow: hidden; */
  box-shadow: 0 0 10px #2187e7b3;
}
.bar span {
  height: 2px;
  float: left;
  background-color: #2187e7;
}
.bar .html {
  background: red;
}
.bar .js {
  background: yellow;
}
.bar .python {
  background: #3776ab;
}
.html {
  width: 90%;
  animation: html 2s;
}
.css {
  width: 70%;
  animation: css 2s;
}
.js {
  width: 65%;
  animation: js 2s;
}
.python {
  width: 10%;
  animation: python 2s;
}
/* Lets End */

/* Footer Start */
footer {
  background-color: #ed5565;
  /* min-width: 100% !important; */
}

footer hr {
  border: 2px solid #707070;
  /* margin-top: 80px; */
  /* min-width: 100% !important; */
}

footer p {
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  padding: 20px 0;
}
/* Footer End */

/* Media Queries */
@media only screen and (max-width: 991.98px) {
  #hidden_in_header {
    display: block;
  }
  .main-menu {
    display: none;
  }
  .welcome {
    left: 10%;
  }
  .sakib_img {
    right: 10%;
  }
  .clock {
    left: 2%;
  }
}
@media only screen and (max-width: 890px) {
  .welcome {
    left: 5%;
  }
  .sakib_img {
    right: 5%;
  }
}
@media only screen and (max-width: 836px) {
  .welcome {
    left: 2%;
  }
  .sakib_img {
    right: 2%;
  }
}
@media only screen and (max-width: 740px) {
  .welcome {
    font-size: 50px;
  }
  .sakib_img {
    height: 350px;
    width: 292px;
  }
}
@media only screen and (max-width: 625px) {
  .welcome {
    font-size: 40px;
  }
  .sakib_img {
    height: 300px;
    width: 250px;
  }
}

@media only screen and (max-width: 565.99px) {
  .sakib_img {
    height: 250px;
    width: 208.33px;
    top: 55%;
    right: 40%;
    left: 20%;
		margin-top: -5rem;
  }
  .welcome {
    top: 20%;
    left: 20%;
  }
}
@media only screen and (max-width: 411.98px) {
}
@media only screen and (max-width: 359.98px) {
  .sakib_img {
    height: 200px;
    width: 165px;
  }
}
@media only screen and (max-width: 300.99px) {
  .welcome {
    font-size: 30px;
  }
}
@media only screen and (max-width: 224.998px) {
  .welcome {
    left: 10%;
  }
  .sakib_img {
    width: 125px;
    height: 150px;
  }
}
@media only screen and (max-width: 199.98px) {
  .welcome {
    font-size: 20px;
  }
}

/* Animation  */

.snow {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.snow .svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

#snow-top-layer {
  will-change: transform;
  transform: translateY(-768px);
  -webkit-animation: fall 22.5s infinite linear;
  animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
  will-change: transform;
  transform: translateY(-768px);
  -webkit-animation: fall 45s infinite linear;
  animation: fall 45s infinite linear;
}

@-webkit-keyframes fall {
  100% {
    transform: translateY(0);
  }
}

@keyframes fall {
  100% {
    transform: translateY(0);
  }
}
/* Animation End */